.advantage-extra {
  @include vertical-paddings(20px);
}

.advantage-extra__item {
  @include vertical-paddings(20px);
  padding-left: 60px;
  padding-right: 40px;

  text-align: left;
}

.advantage-extra__icon {
  fill: $blue;
}

.advantage-extra__title {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
  font-weight: 900;
}

.advantage-extra__text {
  margin: 0;

  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .advantage-extra {
    display: flex;
    max-width: 768px;
  }

  .advantage-extra__item {
    min-height: 330px;
    text-align: center;
    padding-top: 150px;
  }
}

@media (min-width: $desktop-width) {
  .advantage-extra {
    max-width: 1200px;
  }
}
