.advantages {
  @include container-adaptive();
  display: flex;
  flex-direction: column;
  text-align: center;
}

.advantages__wrapper {
  @include container-adaptive();
  display: flex;
  flex-direction: column;

  &--city::after {
    content: "";
    height: 260px;
    width: 320px;

    background-image: url("../img/main-city-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 50%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-city-mobile@2x.jpg");
      background-size: cover;
    }
  }

  &--bridge::after {
    content: "";
    height: 260px;
    width: 320px;

    background-image: url("../img/main-bridge-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bridge-mobile@2x.jpg");
      background-size: cover;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-top: 11px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__wrapper {
    flex-direction: row;

    &--city::after {
      height: 256px;
      width: 512px;

      background-image: url("../img/main-city-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-city-tablet@2x.jpg");
      }
    }

    &--bridge {
      padding-top: 2px;
    }

    &--bridge .advantage-item {
      padding-top: 45px;
      order: 1;
    }

    &--bridge::after {
      order: 0;
      height: 256px;
      width: 512px;

      background-image: url("../img/main-bridge-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-bridge-tablet@2x.jpg");
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    &--bridge .advantage-item {
      padding-top: 42px;
    }

    &--city::after {
      width: 800px;

      background-image: url("../img/main-city-desktop@1x.jpg");
      background-position: 50% 50%;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-city-desktop@2x.jpg");
      }
    }

    &--bridge::after {
      width: 800px;

      background-image: url("../img/main-bridge-desktop@1x.jpg");
      background-position: 50% 53%;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-bridge-desktop@2x.jpg");
      }
    }
  }
}
