.advantage-item {
  @include horizontal-paddings();
  @include vertical-paddings();

  background-color: $bg-color;
}

.advantage-item__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.advantage-item__number,
.advantage-item__description {
  line-height: 21px;
}

.advantage-item--triangle {
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: 0 -15px;
}

.advantage-item--blue {
  color: $white;
}

.advantage-item--gray {
  @include vertical-paddings(30px);
  position: relative;
  background-color: $bg-color--sub;
}

.advantage-item--gray::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  width: 280px;
  height: 1px;
  background-color: #d7d7d7;
}

.advantage-item--gray:first-child::before {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantage-item {
    width: 256px;
  }

  .advantage-item:first-of-type {
    background-image: none;
  }

  .advantage-item--gray {
    @include vertical-paddings(50px);
    min-height: 256px;
  }

  .advantage-item--gray::before {
    display: none;
  }

  .advantage-item__title {
    width: 160px;
    margin: 0 auto;
    font-size: 21px;
  }

  .advantage-item__number,
  .advantage-item__description {
    width: 165px;
    margin: 0 auto;
  }

  .advantage-item__number {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .advantage-item {
    width: 400px;
  }

  .advantage-item--gray {
    min-height: 256px;
    padding-bottom: 70px;
  }

  .advantage-item__description {
    width: 280px;
  }
}
