.advantage-extra {
  padding-top: 20px;
  padding-bottom: 22px;
}

.advantage-extra__item {
  @include vertical-paddings(15px);
  display: flex;
  justify-content: flex-end;
  text-align: left;
}

.advantage-extra__icon {
  width: 37px;
  height: 36px;
  margin-right: 10px;
  flex-shrink: 0;
  fill: $blue;
}

.advantage-extra__item--house .advantage-extra__icon {
  margin-top: -8px;
}

.advantage-extra__item--gift .advantage-extra__icon {
  margin-top: -8px;
}

.advantage-extra__item--burger .advantage-extra__icon {
  margin-top: -4px;
}

.advantage-extra__wrapper {
  width: 215px;
  margin-right: 35px;
  flex-shrink: 0;
}

.advantage-extra__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 900;
}

.advantage-extra__text {
  margin: 0;
  margin-top: 14px;
  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .advantage-extra {
    display: flex;
    width: $tablet-width;
    padding-top: 25px;
    justify-content: space-between;
  }

  .advantage-extra__item {
    width: 256px;
    padding-top: 43px;
    padding-bottom: 37px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
  }

  .advantage-extra__item--house {
    order: 1;
  }

  .advantage-extra__item--burger {
    order: 2;
  }

  .advantage-extra__item--gift {
    order: 3;
  }

  .advantage-extra__icon {
    width: 75px;
    height: 72px;
    margin-right: 0;
  }

  .advantage-extra__wrapper {
    width: 165px;
    margin-right: 0;
  }

  .advantage-extra__title {
    margin-top: 24px;
    margin-bottom: 21px;
    font-size: 21px;
  }

  .advantage-extra__item--gift .advantage-extra__wrapper {
    width: 170px;
  }

  .advantage-extra__item--burger .advantage-extra__wrapper {
    width: 155px;
  }
}

@media (min-width: $desktop-width) {
  .advantage-extra {
    width: $desktop-width;
    padding-bottom: 43px;
  }

  .advantage-extra__item {
    width: 400px;
  }

  .advantage-extra__wrapper {
    width: 290px;
  }

  .advantage-extra__item--gift .advantage-extra__wrapper {
    width: 220px;
  }

  .advantage-extra__item--burger .advantage-extra__wrapper {
    width: 290px;
  }
}
