.doubt {
  @include container-adaptive();
  @include horizontal-paddings(0);
  @include vertical-paddings(30px);
}

.doubt__title {
  width: 230px;
  margin: 0 auto;
  padding-bottom: 28px;
  text-align: center;
  font-size: 18px;
}

.doubt__text {
  width: 250px;
  margin: 0 auto;
  padding-bottom: 37px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .doubt {
    @include vertical-paddings(60px);
    text-align: center;
  }

  .doubt__title {
    width: 415px;
    margin: 0 auto;
    padding-bottom: 30px;
    font-size: 30px;
  }

  .doubt__text {
    width: 415px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}
