.main-nav {
  text-align: right;
}

.main-nav__list {
  @include list-reset();

  display: flex;
  flex-direction: column;
}

.main-nav__item {
  text-align: center;
}

.main-nav__item a {
  display: block;
  width: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 18px;
  line-height: 40px;
  font-weight: 900;
  color: $white;
  background-color: $blue;
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

.main-nav__toggle {
  width: 53px;
  height: 46px;
  margin: 5px;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: none;
}

.main-nav__icon {
  fill: $blue;
}

.main-nav--hide {
  display: none;
}

.main-nav--show {
  display: block;
}

.main-nav__toggle--hide svg {
  display: none;
}

.main-nav__toggle--show svg {
  display: block;
}

.main-nav__toggle--burger .main-nav__icon--cross {
  display: none;
}

.main-nav__toggle--burger .main-nav__icon--burger {
  display: block;
}

.main-nav__toggle--cross .main-nav__icon--cross {
  display: block;
}

.main-nav__toggle--cross .main-nav__icon--burger {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    flex-direction: row;
    min-height: 56px;
  }

  .main-nav__item {
    width: 153px;
  }

  .main-nav__item:nth-child(4n+3) {
    margin-left: 158px;
  }

  .main-nav__item a {
    font-size: 14px;
    color: $black;
    background-color: $white;
    border: none;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item {
    width: 239px;
  }

  .main-nav__item:nth-child(4n+3) {
    margin-left: 247px;
  }
}
