.main-nav__list {
  @include list-reset();

  display: flex;
  flex-direction: column;
}

.main-nav__item {
  text-align: center;
}

.main-nav__item a {
  display: block;
  width: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
  line-height: 40px;
  font-weight: 900;
  color: $white;
  background-color: $blue;
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    flex-direction: row;
    min-height: 56px;
    justify-content: space-between;
  }

  .main-nav__wrapper {
    display: flex;
    width: 306px;
  }

  .main-nav__item {
    width: 153px;
  }

  .main-nav__item a {
    font-size: 14px;
    color: $black;
    background-color: $white;
    border: none;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 478px;
  }

  .main-nav__item {
    width: 239px;
  }
}
