.page-header {
  @include container-adaptive();
  position: relative;
  text-align: center;
}

.page-header-logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .page-header-logo {
    transform: translate(-50%, -63%);
  }
}

@media (min-width: $desktop-width) {
  .page-header-logo {
    transform: translate(-50%, -63%);
  }
}
