.page-footer {
  width: 100%;
  padding-top: 36px;
  padding-bottom: 20px;
  text-align: center;
}

.page-footer__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    @include container(648px);
    display: flex;
    padding-top: 10px;
    padding-bottom: 36px;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    @include container(960px);
    @include vertical-paddings(30px);
  }
}
