.page-footer {
  @include container-adaptive();
  padding-top: 44px;
  padding-bottom: 20px;
  text-align: center;
}

.page-footer__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    padding-top: 4px;
    align-items: center;
    justify-content: space-around;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    @include vertical-paddings(55px);
  }
}
