.page-caption {
  text-align: center;
}

.page-caption__wrapper {
  margin: 0 auto;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.page-caption__title {
  margin: 0 auto;
  padding-left: 33px;
  padding-right: 33px;

  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-align: center;
}

.page-caption__subtitle {
  margin: 0 auto;
  padding-left: 33px;
  padding-right: 33px;

  line-height: 26px;
  color: $grey--dark;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-caption__wrapper {
    max-width: 768px;
    min-height: 518px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .page-caption__title {
    padding-top: 50px;
    width: 490px;
  }

  .page-caption__subtitle {
    width: 490px;
  }
}

@media (min-width: $desktop-width) {
  .page-caption__wrapper {
    max-width: 1200px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}
