.photo-post {
  position: relative;
  padding-top: 22px;
  padding-bottom: 20px;
}

.photo-post::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 320px;
  height: 1px;
  background-color: #d7d7d7;
}

.photo-post__title {
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
}

.photo-post__author {
  margin: 0;
  text-transform: none;
}

.photo-post__likes-wrapper {
  display: flex;
}

.photo-post__like {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background: 0 0;
}

.photo-post__likes {
  margin: 0;
  margin-top: 8px;
  margin-left: 14px;
  font-weight: bold;
}

.photo-post__like-icon {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .photo-post:nth-of-type(1) {
    margin-top: 22px;
    width: 648px;
    min-height: 480px;
  }

  .photo-post:nth-of-type(n+2) {
    width: 324px;
    min-height: 347px;
  }

  .photo-post__wrapper {
    @include horizontal-paddings(30px);
    display: flex;
    justify-content: space-between;
  }

  .photo-post__text-wrapper {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .photo-post:nth-of-type(1) {
    @include container($desktop-width);
    min-height: 400px;
  }

  .photo-post:nth-of-type(n+2) {
    width: 400px;
    min-height: 267px;
  }
}
