.video {
  position: relative;
  margin-bottom: 16px;
}

.video__wrapper {
  margin: 0 auto;
  width: 320px;
  height: 201px;
}

.video__scroll-bar {
  position: absolute;
  display: block;
  width: 280px;
  height: 45px;
  text-align: center;
  bottom: 64px;
  left: 50%;
  transform: translate(-50%);
  background: rgba(0, 0, 0, 0.6);
}

.video__time {
  position: relative;
  width: 11px;
  height: 11px;
  top: 5px;
  left: -78px;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: $white;
  border-radius: 50%;
}

.video__scroll-bar::after {
  content: "";
  position: absolute;
  width: 235px;
  height: 3px;
  top: 22px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(255, 255, 255, 0.2);
}

.video__controls {
  display: flex;
  width: 280px;
  height: 64px;
  margin: 0 auto;
  align-items: center;
  background-color: $grey;
}

.video__button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.video__control {
  fill: #5c6870;
}

.video__button--replay {
  margin-left: 25px;
}

.video__button--subtitles {
  margin-left: 133px;
}

.video__button--fullscreen {
  margin-left: 31px;
}

@media (min-width: $tablet-width) {
  .video {
    margin-bottom: 0;
  }

  .video__wrapper {
    width: 648px;
    height: 499px;
  }

  .video__img {
    width: 100%;
    height: 100%;
  }

  .video__controls {
    position: absolute;
    width: 648px;
    height: 92px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background: rgba(0, 0, 0, 0.6);
  }

  .video__scroll-bar {
    width: 389px;
    height: 92px;
    bottom: 0;
    left: 347px;
    background-color: transparent;
    z-index: 1;
  }

  .video__time {
    top: 30px;
    left: -77px;
    background-color: $white;
    z-index: 2;
  }

  .video__scroll-bar::after {
    width: 389px;
    height: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
  }

  .video__control {
    fill: $white;
  }

  .video__button--replay {
    margin-left: 35px;
  }

  .video__button--subtitles {
    margin-left: 473px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    margin-bottom: 33px;
  }

  .video__wrapper {
    width: 800px;
    height: 500px;
  }

  .video__controls {
    position: absolute;
    width: 800px;
  }

  .video__scroll-bar {
    left: 562px;
    width: 540px;
  }

  .video__time {
    top: 35px;
    left: -152px;
  }

  .video__scroll-bar::after {
    width: 540px;
  }

  .video__button--subtitles {
    margin-left: 623px;
  }
}
