$default-font: "PT Sans", "Arial", sans-serif;

$white: #ffffff;
$black: #000000;
$grey--dark: #333333;
$grey--light: #efefef;
$blue: #81b3d2;

$bg-color: $blue;
$bg-color--sub: $grey--light;

$tablet-width: 768px;
$desktop-width: 1200px;
