$default-font: "PT Sans", "Arial", sans-serif;

$white: #ffffff;
$black: #000000;
$grey--dark: #333333;
$grey: #f2f2f2;
$grey--light: #efefef;
$blue: #81b3d2;
$red: #ff5c5c;

$bg-color: $blue;
$bg-color--sub: $grey--light;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
